body{
    background-image: linear-gradient(
        90deg,
        hsl(240deg 100% 20%) 0%,
        hsl(259deg 85% 24%) 9%,
        hsl(279deg 73% 29%) 22%,
        hsl(298deg 62% 34%) 41%,
        hsl(318deg 52% 39%) 66%,
        hsl(337deg 44% 45%) 85%,
        hsl(357deg 38% 51%) 94%,
        hsl(16deg 40% 58%) 99%,
        hsl(36deg 42% 65%) 100%,
        hsl(55deg 45% 72%) 100%
      );
    }
    .check{
      background-color: blue;
      padding: 7px;
      border-radius: 6px ;
    }
    .delet{
      background-color: red;
      padding: 7px;
      border-radius: 6px ;
    }
    .formm{
      width: 320px;
    }
    .form-control{
      
    }